@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.bg-orange {
  background-color: rgb(241, 96, 80);
}

.bg-orange:hover {
  background-color: #f8a100;
}

.text-orange {
  color: orangered;
}

.orange-hover:hover {
  color: salmon;
}

.container-form {
  width: 450px;
}
