<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Update Project</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <!-- font icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <!-- animate -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- css master -->
  <link rel="stylesheet" href="/public/css/nav.css">
  <link rel="stylesheet" href="/public/css/add-project.css">
</head>

<body>

  <!-- nav start -->
  <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="/public/images/logo.png" alt="dumbways logo" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link link-nav" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-nav" href="/add-project">Add Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-nav" href="/testimonial">Testimonial</a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0 d-lg-flex justify-content-end align-items-center">
          {{if .DataSession.IsLogin}}
          <li class="nav-item">
            <a class="nav-link link-nav" href="#">Hello, {{.DataSession.Name}}</a>
          </li>
          <li class="nav-item">
            <form id="logout" action="/logout" method="post">
              <button type="submit" class="nav-link link-nav me-2">Logout</button>
            </form>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link link-nav" href="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-nav me-2" href="register">Register</a>
          </li>
          {{end}}
          <li class="nav-item">
            <a href="contact" class="btn btn-primary">Contact Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- nav end -->

  <!-- main start -->
  <main>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">

          <h2 class="fw-bold text-center mt-5">Update Project</h2>

          <form action="/update-project/{{.Project.Id}}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id" value="">
            <!-- Project Name -->
            <div class="mb-3">
              <label for="input-project-name" class="form-label">Project Name</label>
              <input type="text" class="form-control" name="input-project-name" id="input-project-name"
                placeholder="Enter Project Name" value="{{.Project.Title}}">
            </div>


            <!-- Tanggal -->
            <div class="row">
              <div class="col-md-6 col-6">
                <div class="mb-3">
                  <label for="input-date-start" class="form-label">Tanggal Mulai</label>
                  <input type="date" class="form-control" id="input-date-start" name="input-date-start"
                    value="{{.Project.StartDate}}">
                </div>
              </div>
              <div class="col-md-6 col-6">
                <div class="mb-3">
                  <label for="input-date-end" class="form-label">Tanggal Selesai</label>
                  <input type="date" class="form-control" id="input-date-end" name="input-date-end"
                    value="{{.Project.EndDate}}">
                </div>
              </div>
            </div>
            <!-- Tanggal end -->

            <!-- Deskripsi -->
            <div class="mb-3">
              <label for="input-deskripsi" class="form-label">Deskripsi Project</label>
              <textarea class="form-control" id="input-deskripsi" name="input-deskripsi"
                rows="3">{{.Project.Description}}</textarea>
            </div>
            <!-- Deskripsi end -->

            <!-- Tech stack -->
            <div class="row">
              <div class="col-md-6 col-6">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="nodeJs" name="node-js" id="node-js" {{if
                    .Project.NodeJs}} checked {{end}}>
                  <label class="form-check-label" for="node-js">
                    Node Js
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="bootstrap" name="bootstrap" id="bootstrap" {{if
                    .Project.Bootstrap}} checked {{end}}>
                  <label class="form-check-label" for="bootstrap">
                    Bootstrap
                  </label>
                </div>
              </div>
              <div class="col-md-6 col-6">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="react" name="react" id="react" {{if
                    .Project.React}} checked {{end}}>
                  <label class="form-check-label" for="react">
                    React
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="laravel" name="laravel" id="laravel" {{if
                    .Project.Laravel}} checked {{end}}>
                  <label class="form-check-label" for="laravel">
                    Laravel
                  </label>
                </div>
              </div>
            </div>
            <!-- Tech stack end -->

            <!-- File Upload -->
            <div class="mb-3 mt-3">
              <label for="input-image" class="form-label">Upload Image</label>
              <input type="file" class="form-control" id="input-image" name="input-image" value="{{.Project.Image}}"
                required>
            </div>
            <!-- File Upload -->

            <!-- Button Submit -->
            <div class="mb-3 d-flex justify-content-end">
              <button type="submit" class="btn btn-primary w-25">Update</button>
            </div>
            <!-- Button Submit end -->
          </form>
        </div>

      </div>
    </div>
  </main>
  <!-- main end -->





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>