/* Overwritten bootstrap css start */
body {
  margin-top: 8vh;
}

.btn-primary {
  background-color: #fe4e30;
  border: none;
}

.btn-primary:hover {
  background-color: salmon;
}

.text-orange {
  color: #fe4e30 !important;
}

.link-nav:hover {
  color: #fe4e30 !important;
  font-weight: 500;
}

nav {
  height: 8vh;
}

@media (max-width: 990px) {
  .navbar-expand-lg .navbar-collapse {
    position: fixed;
    top: 8vh;
    left: 0;
    width: 100vw;
    box-shadow: -11px 14px 26px -12px rgba(122, 122, 122, 1);
    padding-bottom: 10px;
    margin-top: 5px;
    background-color: white;
  }
  nav {
    height: auto;
  }
}

a {
  text-decoration: none;
  color: black;
}

/* Overwritten bootstrap css end */
