.card-project {
  width: 25rem;
}

@media (max-width: 992px) {
  .card-project {
    width: 37rem;
  }
}

@media (max-width: 700px) {
  .card-project {
    width: 20rem;
    box-shadow: 0px 0 50px -17px rgba(0, 0, 0, 0.75);
  }
}

.fa-solid {
  color: gold;
}

.d-flex .btn-primary {
  color: white;
  padding: 5 10px;
}
